{% extends 'base.html'%}
{% load bootstrap4 %}
{% block content %}
{{block.super}}
<div class="container-fluid" id="form">
    <div class="col-md-12">
        <form id="questions" >
            <div class="row">
                <div class="col-md-6">
                    DESIGN.
                <div class="col-md-6">
                    <input type="radio" name="score1" id="terrible" checked="checked" value="terrible">Very Bad
                    <input type="radio" name="score1" id="poor" value="poor">Bad
                    <input type="radio" name="score1" id="average" value="average">Average
                    <input type="radio" name="score1" id="very good" value="very good">Very Good
                    <input type="radio" name="score1" id="excellent" value="excellent">Excellent

                </div>
                </div>
            </div>


            <br>
            <div class="row">
                </br>
                <div class="col-md-6">
                    USABILITY.
                <div class="col-md-6">
                    <input type="radio" name="score2" id="terrible" checked="checked" value="terrible">Very Bad
                    <input type="radio" name="score2" id="poor" value="poor">Bad
                    <input type="radio" name="score2" id="average" value="average">Average
                    <input type="radio" name="score2" id="very good" value="very good">Very Good
                    <input type="radio" name="score2" id="excellent" value="excellent">Excellent

                </div>
                </div>
            </div>

            <br>
            <div class="row">
                </br>
                <div class="col-md-6">
                    CREATIVITY. 
                <div class="col-md-6">
                    <input type="radio" name="score3" id="terrible" checked="checked" value="terrible">Very Bad
                    <input type="radio" name="score3" id="poor" value="poor">Bad
                    <input type="radio" name="score3" id="average" value="average">Average
                    <input type="radio" name="score3" id="very good" value="very good">Very Good
                    <input type="radio" name="score3" id="excellent" value="excellent">Excellent

                </div>
                </div>
            </div>

            <br>
            <button class="btn btn-outline-danger" type="submit" id="submit" name="reset_form" value="Reset Form" onclick="this.form.reset();">SUBMIT</button>
        </form>
    </div>
</div>
<div id="divhidden" style="display: none;">
    <div class="col-md-8">
        <form action="{% url 'score'  project.id %}" method="POST" enctype="multipart/form-data" id="ratingform">
            {% csrf_token %}
            {% bootstrap_form scoreform %}
            <input type="submit" class="btn btn-outline-danger" value="Upload">
        </form>
    </div>
</div>
{% endblock %}